<div class="comment-<%= comment.id %> container card mt-4 p-3">
  <div id="comment-body-<%= comment.id %>">
    <%= comment.body %>
  </div>
  <div id="edit-form-<%= comment.id %>" class="d-none">
    <%= render 'comments/form', user: @user, post: @post, comment: comment %>
  </div>
  <hr/>
  <span> <%= time_posted(comment) %>
    <% if current_user == comment.user %>
    <div class="btn-group float-end">
      <%= link_to "Edit", nil, remote: true, class: "btn btn-primary btn-sm",
      data: {
        controller: "comments"
      }%>
      <%= button_to "Delete", user_post_comment_path(user, post, comment), class: "btn btn-danger btn-sm", method: :delete %>
    </div>
  <% end %>
  </span>
  <%= comment.user.email %><br/>
</div>