<%= form_with model: [user, post, comment] do |form| %>
  <% if comment.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.rich_text_area :body, class: %>
    <%= form.submit class: "btn btn-outline-primary btn-sm" %>
  </div>
<% end %>


