<p style="color: green"><%= notice %></p>

<%= link_to "Back", root_path %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text"><%= @user.name %></p>
    <h5 class="card-title">Surname</h5>
    <p class="card-text"><%= @user.surname %></p>
  </div>
</div>

<% if current_user == @user %>
  <%= link_to "Refresh Credentials", edit_user_registration_path %>
  <%= link_to "My Posts", user_posts_path(@user) %>
  <%= link_to "Deactivate Account", "#", method: :delete %>

<% else %>
  <%= render 'posts/post' %>
<% end %>
