<p style="color: green"><%= notice %></p>

<%= render @user %>

<% if @user == current_user %>
  <%= link_to "Refresh Credentials", edit_user_registration_path %>
  <%= button_to "My Posts", "#" %>
  <%= button_to "Deactivate Account", "#", method: :delete %>

<% else %>
  <%= render 'posts/post' %>
<% end %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
