<p style="color: green"><%= notice %></p>

<%= link_to "Back", root_path %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text"><%= @user.name %></p>
    <h5 class="card-title">Surname</h5>
    <p class="card-text"><%= @user.surname %></p>
  </div>

  <%= link_to "Posts", user_posts_path(@user) %>

  <% if current_user == @user %>
    <%= link_to "Refresh Credentials", edit_user_registration_path %>
    <%= button_to "Deactivate Account", user_path(@user), method: :delete %>
  <% end %>
</div>
