<div class="card weight">
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text"><%= @user.name %></p>
    <h5 class="card-title">Surname</h5>
    <p class="card-text"><%= @user.surname %></p>
    <h5 class="card-title">Email</h5>
    <p class="card-text"><%= @user.email %></p>

    <div>
        <%= link_to "Posts", user_posts_path(@user), class: "btn btn-outline-primary btn-sm" %>

        <% if current_user == @user %>
          <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-outline-secondary btn-sm" %>

          <hr>
          <%= button_to "Delete Account", user_path(@user), method: :delete, class: "btn btn-outline-danger btn-sm" %>
        <% end %>
    </div>
  </div>
</div>
