<%= link_to "Back", root_path %>

<% if @user == current_user %>

  <div class="card weight">
    <div class="card-body">
      <h5 class="card-title">Name</h5>
      <p class="card-text"><%= @user.name %></p>
      <h5 class="card-title">Surname</h5>
      <p class="card-text"><%= @user.email %></p>
      <h5 class="card-title">Email</h5>
      <p class="card-text"><%= @user.surname %></p>

      <%= link_to "Refresh Credentials", edit_user_registration_path %>
      <%= link_to "My Posts", user_users_posts_path(@user) %>
      <%= button_to "Deactivate Account", "#", method: :delete %>
    </div>
  </div>
<% end %>

<div>
  <%= link_to "Back to users", users_path %>

  <%= link_to "My Posts", user_users_posts_path(@user) %>

  <% if current_user == @user %>
    <%= link_to "Refresh Credentials", edit_user_registration_path %>
    <%= button_to "Deactivate Account", user_path(@user), method: :delete %>
  <% end %>
</div>
