<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= link_to "New post", new_user_post_path(@user) %>

<div id="posts">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <% if @user == current_user %>
      <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.id %></th>
          <td><%= link_to post.title, user_post_path(@user, post) %></td>
          <td><%= post.description %></td>
          <td><%= post.status %></td>
        </tr>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <% next if post.status == "Draft" %>
        <tr>
          <th scope="row"><%= post.id %></th>
          <td><%= link_to post.title, user_post_path(@user, post) %></td>
          <td><%= post.description %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
