<p class="alert alert-success"><%= notice %></p>

<div class="card weight">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.description %></p>

    <h5 class="card-title">Status</h5>
    <p class="card-text"><%= @post.status %></p>

    <div>
      <%= link_to "Edit this post", edit_user_post_path(@user, @post) %> |
      <%= link_to "Back to posts", user_posts_path(@user) %>
      <%= button_to "Destroy this post", user_post_path(@user, @post), method: :delete %>
    </div>
  </div>
</div>



