<!DOCTYPE html>
<html>
  <head>
    <title>PetProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <header>
    <%= render 'application/navigation' %>
  </header>

  <body>
    <div class="container">
        <% flash.each do |type, msg| %>
          <div class="alert alert-<%= type %>">
            <%= msg %>
          </div>
        <% end %>


        <%= yield %>
    </div>
  </body>

  <footer class="bg-light text-center text-lg-start">
    <%= render 'application/footer' %>
  </footer>
</html>
